[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "consibiocloudclient"]
	path = consibiocloudclient
	url = https://github.com/cran/consibiocloudclient
